* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;;
}

header {
    display:flex;
    justify-content: center;
    height: 120px;
    background-color:red;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

#logo {
    width: 100px;
}
.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.main {
    display: flex;
    justify-content: center;
}

fieldset {
    width:800px;
    border:3px solid #000;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.one {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.emailsenha {
    margin-right: 20px;
    margin-left: 20px;
}
.titulo {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cadastrais {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dadoscadastro {
    margin-left: 20px;
   
}

label {
    margin-right: 20px;
}

.senha {
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="submit"] {
    border: 1px solid green;
    color: #000;
    padding: 7px;
    font-weight: bold;
    background-color: green;
    margin-bottom: 15px;
}

#submit {
    display: flex;
    justify-content: center;
}

.footerg {
    display: flex;
    background-color: red;
    padding: 10px;
    font-weight: bold;
    height: auto;
}